// colors
$BC: #f4f7fe;
$Pri: #f40009;
$w: #ffffff;
$hv-color: #00000029;
$nav-buttons: #08415c;
$btn-inactive: #b2bec3;
$numbers: #8d9192;
$orange: #ff5400;
$header-color: #2c3e50;
$planning-text: #003f5c;
$light-blue: #2d62ed;
$dark-grey: #4c788d;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1024px;
