<div class="row">
  <div class="col-9 img-container">
    <img src="../../assets/images/coca-cola-white.svg" alt="" />
  </div>
  <div class="col-3">
    <div class="logo">
      <img src="../../assets/images/factoryIcon.svg" alt="" />
      <span>MES</span>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button [disabled]="!authForm.valid">LOGIN</button>
      </div>
    </form>
  </div>
</div>
