<span>Dashboard</span>
<div class="container">
  <div class="row">
    <div class="col left-side">
      <div class="row first-row">
        <div class="col">
          <app-total-production></app-total-production>
        </div>
        <div class="col col-lg-5">
          <app-performance></app-performance>
        </div>
        <div class="col">
          <app-power></app-power>
        </div>
      </div>
      <div class="row second-row">
        <app-current-activity></app-current-activity>
      </div>
      <div class="row third-row">
        <app-time-line></app-time-line>
      </div>
    </div>
    <div class="col col-lg-3 right-side">
      <app-charts></app-charts>
    </div>
  </div>
</div>
