<div class="col third-col">
  <div class="title">
    <img src="../../../../assets/images/power.svg" />
    <span>Power KPI</span>
  </div>

  <div class="wraper">
    <div class="example">
      <div>
        <span class="number">5000</span>
        <sub>L/s</sub>
      </div>

      <span>Production /h</span>
    </div>
    <div class="example">
      <div>
        <span class="number">5000</span>
        <sub>L/s</sub>
      </div>

      <span>Production /h</span>
    </div>
  </div>
  <div class="example third">
    <div>
      <span class="number">5000</span>
      <sub>L/s</sub>
    </div>

    <span>Production /h</span>
  </div>
</div>
