<div class="input">
  <i class="pi pi-search"></i>
  <input placeholder="Search By Process" type="search" />
</div>
<div class="container">
  <div class="head">
    <i class="pi pi-history"></i>

    <span>Pre Defined Process</span>
  </div>
  <div class="row" *ngFor="let item of [].constructor(5)">
    <div class="col first-col">
      <span>Operation Name</span>
      <span>Resources</span>
      <span>Machines</span>
    </div>
    <div class="col second-col">
      <span>Function Name</span>
      <span>Resource Name</span>
      <span>Machine Name</span>
    </div>
  </div>
</div>
