<span class="special-span">Machines</span>

<div class="container">
  <div class="row" *ngFor="let item of [].constructor(2)">
    <div class="col card" *ngFor="let item of [].constructor(3)">
      <div class="title">Factory Name</div>
      <div class="data">
        <div class="line">
          <div>
            <img src="../../../../assets/images/speed.svg" alt="" />
            <span>Actual Speed</span>
          </div>
          <div><span class="number">5000</span> <sub>L/s</sub></div>
        </div>
        <div class="line">
          <div>
            <img src="../../../../assets/images/production.svg" alt="" />
            <span>Actual Production</span>
          </div>
          <div>
            <span class="number">5000</span>
            <sub>L/s</sub>
          </div>
        </div>
        <div class="line">
          <div>
            <img src="../../../../assets/images/cycle.svg" alt="" />
            <span>Last hour cycle time</span>
          </div>
          <div><span class="number">5000</span> <sub>L/s</sub></div>
        </div>
        <div class="line">
          <div>
            <img src="../../../../assets/images/active.svg  " alt="" />
            <span>Ration of Active lines</span>
          </div>
          <div>
            <span class="number">5000</span>
            <sub>L/s</sub>
          </div>
        </div>
        <!-- ***************************************************** -->
        <div class="progressSection">
          <div class="barrierLine">
            <div class="lineProgress">Last Shift</div>
          </div>
          <div class="circularProgress">
            <circle-progress
              [percent]="75"
              [radius]="30"
              [showInnerStroke]="false"
              [titleFontSize]="'15'"
              [subtitle]="'OEE'"
              [subtitleColor]="'black'"
              [subtitleFontWeight]="'bold'"
              [units]="'%'"
              [outerStrokeColor]="'#FF9F1C'"
              [outerStrokeWidth]="5"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <circle-progress
              [percent]="75"
              [radius]="30"
              [showInnerStroke]="false"
              [subtitle]="'SLE'"
              [subtitleColor]="'black'"
              [subtitleFontWeight]="'bold'"
              [titleFontSize]="'15'"
              [units]="'%'"
              [outerStrokeColor]="'#00D1DE'"
              [outerStrokeWidth]="5"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <circle-progress
              [percent]="75"
              [radius]="30"
              [showInnerStroke]="false"
              [subtitle]="'USLE'"
              [subtitleColor]="'black'"
              [subtitleFontWeight]="'bold'"
              [titleFontSize]="'15'"
              [units]="'%'"
              [outerStrokeColor]="'#CA4E82'"
              [outerStrokeWidth]="5"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
        </div>
        <!-- ***************************************************** -->
        <div class="line">
          <div>
            <img src="../../../../assets/images/quality.svg" alt="" />
            <span>Production Volume</span>
          </div>
          <div>
            <span class="number">5000</span>
            <sub>L/s</sub>
          </div>
        </div>
        <div class="line">
          <div>
            <img src="../../../../assets/images/volume.svg" alt="" />
            <span>Producitonn quality</span>
          </div>
          <div><span class="number">5000</span> <sub>L/s</sub></div>
        </div>
      </div>
    </div>
  </div>
</div>
