<div class="sidebar">
  <div class="sidebar-header">
    <img src="../../../assets/images/factoryIcon.svg" alt="" />
    <span>MES</span>
  </div>

  <ul class="sidebar-content">
    <div class="managemnet">
      <li class="dashboard">
        <img src="../../../assets/images/Dashboard.svg" alt="" />
        <a href="">Dashboard</a>
      </li>
      <li class="machines">
        <img src="../../../assets/images/machine.svg" alt="" />
        <a href="">Machines</a>
      </li>
      <li class="planning">
        <img src="../../../assets/images/planning.svg" alt="" />
        <a href="">Planning</a>
      </li>
      <li class="reports">
        <img src="../../../assets/images/reports.svg" alt="" />
        <a href="">Reports</a>
      </li>
    </div>
    <div class="settings">
      <li class="settings">
        <img src="../../../assets/images/setting.svg" alt="" />
        <a href="">Settings</a>
      </li>
      <li class="logout">
        <img src="../../../assets/images/logout.svg" alt="" />
        <a href="">Logout</a>
      </li>
    </div>
  </ul>
  <div class="sidebar-footer">
    <img src="../../../assets/images/coca-cola-white.svg" alt="" />
  </div>
</div>
