<div class="container">
  <div class="row">
    <div *ngFor="let item of [].constructor(2)" class="col">
      <div class="title">
        <span class="color"></span><span>Machine ID</span><span>bottle</span>
      </div>
      <div class="text">
        <i class="pi pi-th-large"></i>
        Machine Name
      </div>
      <div class="progress-circles">
        <circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress
        ><circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress
        ><circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of [].constructor(2)" class="col">
      <div class="title">
        <span class="color"></span><span>Machine ID</span><span>bottle</span>
      </div>
      <div class="text">
        <i class="pi pi-th-large"></i>
        Machine Name
      </div>
      <div class="progress-circles">
        <circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress
        ><circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress
        ><circle-progress
          [percent]="75"
          [radius]="30"
          [showInnerStroke]="false"
          [subtitle]="'SLE'"
          [subtitleColor]="'black'"
          [subtitleFontWeight]="'bold'"
          [titleFontSize]="'15'"
          [units]="'%'"
          [outerStrokeColor]="'#00D1DE'"
          [outerStrokeWidth]="5"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </div>
  </div>
</div>
