@import "../assets/scss/shared-styles/Variables.scss";

.coca-cola {
  height: 100vh;
  width: 100vw;
  background-color: $BC;
  overflow-x: hidden;
  display: flex;
  position: relative;

  .sideBarCoca {
    height: 100%;
    width: 13.5%;
    background-color: $Pri;
    position: fixed;
  }
  .mainContentCoca {
    height: 100%;
    width: 86.5%;
    margin-left: 13.6%;
  }
}
